<header>
    <nav class="navbar p-2 navbar-expand-lg navbar-light bg-danger">
        <a class="navbar-brand" href="/">Time Table Generator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/add_classes">Add Class</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_fixed_classes">Add fixed class</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add_lab_professors">Add lab professor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/generate">Generate Time Table</a>
                </li>
            </ul>
        </div>
    </nav>
</header>