{% extends 'base.html' %}
{% block title %}Add Fixed Classes{% endblock %}
{% block content %}
<div class="container-sm mt-4 px-4 mx-5">
    <h2>Add Fixed Classes</h2>
    <form action="/add_fixed_classes" method="POST" class="mt-4 mx-5">
        <div class="form-group mt-3">
            <label for="course_facilitator">Course facilitator (Shorthand, like RMK)</label>
            <input type="text" class="form-control" id="course_facilitator" name="course_facilitator" required>
        </div>
        <div class="form-group mt-3">
            <label for="course_code">Course Code</label>
            <input type="text" class="form-control" id="course_code" name="course_code" required>
        </div>
        <div class="form-group mt-3">
            <label for="course_group">Group to attend this course (like: CSBS-4, ISE-5, ...)</label>
            <input type="text" class="form-control" id="course_group" name="course_group" required>
        </div>
        <div class="form-group mt-3">
            <label for="course_day">Day of the week</label>
            <select class="form-select" id="course_day" name="course_day" required>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
            </select>
        </div>
        <div class="form-group mt-3">
            <label for="course_timeslot">Time of the day</label>
            <select class="form-select" id="course_timeslot" name="course_timeslot" required>
                <option value="7:30-8:30">7:30AM-8:30AM</option>
                <option value="8:30-9:30">8:30AM-9:30AM</option>
                <option value="9:30-10:30">9:30AM-10:30AM</option>
                <option value="11-11:50">11AM-11:50AM</option>
                <option value="11:50-12:40">11:50AM-12:40PM</option>
                <option value="12:40-13:30">12:40PM-1:30PM</option>
                <option value="14:30-15:30">2:30PM-3:30PM</option>
                <option value="15:30-16:30">3:30PM-4:30PM</option>
                <option value="16:30-17:30">4:30PM-5:30PM</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add Fixed Class</button>
    </form>
    <h3 class="mt-5">Existing Fixed Classes</h3>
    <table class="table table-striped border border-4 mt-3">
        <thead>
            <tr>
                <th scope="col">Course Facilitator</th>
                <th scope="col">Course Code</th>
                <th scope="col">Course Group</th>
                <th scope="col">Day</th>
                <th scope="col">Time Slot</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for class in fixed_classes %}
            <tr>
                <td>{{ class[1][0] }}</td>
                <td>{{ class[1][1] }}</td>
                <td>{{ class[1][2] }}</td>
                <td>{{ class[1][3] }}</td>
                <td>{{ class[1][4] }}</td>
                <td>
                    <a href="/delete_fixed_class/{{ class[0] }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}